@import "variables";
@import "mixin";



.container1{
    @include base1_display;
    .row1{
      @include base2_display;
      margin-top: 16rem;
      gap: 9px;
        .img1{
            width: 56px;
            height: 56px;
        }
        .img2{
            position: absolute;
            left: 7.4rem;
             top: 19.5rem;
        }
       .h_shoea{
            font-size: 4rem;
         }
    }
    .row2{
      margin-top: 18rem;
 
    .loading{
      display: flex;
      justify-content: center;
    }
    .loading::after{
      content: "";
      width: 30px;
      height: 30px;
      background-color:$white;
      border: 8px solid $lightgray;
      border-top-color: $black;
      border-radius: 50%;
      animation: loading 1s linear infinite;
    }
    @keyframes loading  {
      to{
        transform: rotate(1turn);
      }
    }
}
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  .welcome{
    color: $white;
    margin-top: 35rem;
    .h2{
        font-size: 44px;
    }
    .h1{
        font-size: 71px
    }
  }  
}
.overflow-hidden{
  overflow: hidden;
}

html{
  width: $fullWidth;
  // overflow: hidden;
  margin: 0;
  body{
    width: $fullWidth;
    // overflow: hidden;
    margin: 0;
    .container3{
     .top{
      width: $fullWidth;
      .wallpaper2{
        width:$fullWidth ;
          height: 534px;
      }
     }
      .bottom{
        @include base1_display;
        gap: 65px;
        .para1{
              font-size: 2.2rem;
              padding: 6px;
          }
          .blanks{
            @include base2_display;
            gap: 5px;
         
            .blank{
              width: 37px;
              height: 5px;
              background-color:$lightgray ;
            }
          }
         
          #btnNext1{
              @include nextbtn;
          }  
        
      }
    }
  }
}

html{
  width: $fullWidth;
  // overflow: hidden;
  margin: 0;
  body{
    width: $fullWidth;
    // overflow: hidden;
    margin: 0;
    .container4{
     .top{
      width: $fullWidth;
      .wallpaper2{
        width:$fullWidth ;
          height: 534px;
      }
     }
      .bottom{
        @include base1_display;
        gap: 65px;
        .para1{
              font-size: 2.2rem;
              padding: 6px;
          }
          .blanks{
            @include base2_display;
            gap: 5px;
           
            .blank{
              width: 37px;
              height: 5px;
              background-color:$lightgray ;
            }
          }
          
          #btnNext2{
            @include nextbtn;
          }
      }
    }
  }
}

html{
  width: $fullWidth;
  // overflow: hidden;
  margin: 0;
  body{
    width: $fullWidth;
    // overflow: hidden;
    margin: 0;
    .container5{
     .top{
      width: $fullWidth;
      .wallpaper2{
        width:$fullWidth ;
          height: 534px;
      }
     }
      .bottom{
        @include base1_display;
        gap: 65px;
        .para1{
              font-size: 2.2rem;
              padding: 6px;
          }
          .blanks{
            @include base2_display;
            gap: 5px;
           
            .blank{
              width: 37px;
              height: 5px;
              background-color:$lightgray ;
            }
          }
          
          .btnNext{
            @include nextbtn;
          }
      }
    }
  }
}

.container_login{
  .wraper{
    @include base1_display;
    main{
      margin-bottom: 17rem;
      .topMain{
        @include base1_display;
        margin-top: 9rem;
        gap: 3rem;
        p{
          font-size: 2.5rem;
        }
       }
       .bottomMain{
         @include base1_display;
         gap: 1rem;
         .email{
          @include baseInput;
         }
         .pwd{
          @include baseInput;
         }
         .fa-envelope{
          position: fixed;
          left: 1.8rem;
          top: 27.7rem;
         }
         .fa-lock{
          position: fixed;
          left: 1.8rem;
          top: 30.9rem;
         }
         .fa-eye-slash{
          position: fixed;
          right: 2rem;
          top: 31rem;
         }
         .check{
          display: flex;
         }
       }
    }
    .btnNext{
      @include signInbtn;
     }
  }
}


.container_home3{
  header{
    display: flex;
    gap: 1.20rem;
    padding-left: 1rem;
    align-items: center;
    img{
      width: 3.5rem;
      height: 3rem;
    }
    p{
      font-size: 30px;
      font-weight: bold;
    }
  }
  main{
    @include base1_display;
    margin-top: 20px;
   
  }
  .section4{
    width: 90vw;
    height: 88vh;
    display: flex;
    gap: 2rem;
   padding-top: 1rem;
    flex-wrap: wrap;
    .one{
      width: 10rem;
      height: 2rem;
}
      .bggray{
        width: 11rem;
        height: 9rem;
        background-color: rgb(245 245 245);
        border-radius: 17px;
        img{
          padding-left: 1rem;
          padding-top: 2rem;
          width: 8rem;
          height: 5rem;
      
        }
      }
      p{
        font-size: 20px;
      }
    }
}

.container_home1{
 
  header{
    @include base2_display;
    gap: 6rem;
    .logotime{
      @include base2_display;
      gap: 1rem;
      p{
        color: $gray;
        font-size: 20px;
      }
    }
    .fa-bell-o{
      font-size: 1.5rem;
    }
    .fa-heart-o{
      font-size: 1.5rem;
    }
  }
  main{
    @include base1_display;
    gap: 1rem;
    margin-top: 1rem;
    #gsearch{
      width: 22rem;
      height: 3rem;
      padding-left: 41px;
    }
    .fa-search{
      color: $gray;
      position: relative;
      left: 2rem;
    }
    .row1,.row2{
      display: flex;
      gap: 2rem;
    }
    .section2{
      display: flex;
     flex-direction: column;
     gap: 1rem;
     .row3{
      display: flex;
      gap: 11rem;
      p{
        font-weight: bold;
        font-size: 18px;
      }
    }
    }
    .section3{
      overflow: auto;
      width: 100%;

      .top{
        width: 42rem;
        margin-left: 2rem;
        .btnAll{
          background-color: $black;
          color: $white;
         }
        button{
          width: 5rem;
         height: 3rem;
         border-radius: 25px;
         background-color:$white;
         border: 2px solid $black;
         font-weight: bold;
         
        }

      }
     
    }
    .section4{
      width: 90vw;
      height: 88vh;
      display: flex;
      gap: 2rem;
     
      flex-wrap: wrap;
      .one{
        width: 10rem;
        height: 2rem;
}
        .bggray{
          width: 11rem;
          height: 9rem;
          background-color: rgb(245 245 245);
          border-radius: 17px;
          img{
            padding-left: 1rem;
            padding-top: 2rem;
            width: 8rem;
            height: 5rem;
        
          }
        }
        p{
          font-size: 20px;
        }
      }
      
    }
    
  }


.all-icons{
  width: 26rem;
  height: 3rem;
  background-color: $white;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  position: sticky;
  bottom: 0;
  .fa{
    font-size: 26px;
  }
  .wallet{
    font-size: 24px;
  }
 }
 ::-webkit-scrollbar {
  width: 20px;
}

 
 .container_product{
  .product_img{
    width: $fullWidth;
    background-color: rgb(242 242 242);
    height: 27vh;
    .wraper-img{
      .shoePic{
        position: fixed;
        top: 4rem;
        left: 4rem;
        width: 18rem;
        height: 11rem;
      }
      

    }
    .blanks{
      @include base2_display;
            gap: 5px;
            width: 12rem;
            position: fixed;
            top: 17rem;
            left: 7rem;
       .blank{
         width: 37px;
          height: 5px;
           background-color:$gray ;
        }
        .one{
          width: 49px;
          height: 5px;
         
        }
        .two{
          width: 49px;
          height: 5px;
        
        } 

    }
  }
  .product_info{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    h1{
      display: inline;
    }
    .fa-heart-o{
      float: right;
      width: 2rem;
      font-size: 1.8rem;
    }
    .more{
      display: flex;
      align-items: center;
      gap: 2rem;
      p{
        font-size:17px;
       
      }
      .sold{
        padding: 13px;
        background-color: $lightgray;
        border-radius: 17px;
      }
      .star{
        font-size: 2.1rem;
      }
    }
    #descript{
      font-size: 20px;
    }
  }
  .size_color{
display: flex;
gap: 2rem;
padding-left: 1rem;
.sizes{
p{
  font-weight: bold;
  font-size: 30px;
}
.circles{
  display: flex;
  gap:5px;
    .one{
      padding: 17px;
      border-radius: 50%;
      border: 1px solid $black;
     }
     .two{
      padding: 17px;
      border-radius: 50%;
      border: 1px solid $black;
     }
     .three{
      padding: 17px;
      border-radius: 50%;
      border: 1px solid $black;
     }
}
}
.colors{
  p{
    font-weight: bold;
    font-size: 30px;
  }
  .circles{
    display: flex;
    gap:5px;
    .one{
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: rgb(82, 107, 82);
     }
     .two{
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: rgb(165, 61, 209);
     }
     .three{
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: rgb(116, 67, 35);
     }
  }
}


  }
.quantity{
  padding: 1rem;
  display: flex;
  gap: 2rem;
  p{
    font-weight: bold;
    font-size: 24px;
  }
  .num{
    display: flex;
    gap: 2rem;
    background-color: $lightgray;
    border-radius: 3rem;
    width: 7rem;
   }

 }
 .total{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding-left: 1rem;
  .dollar{
    font-weight: bold;
    font-size: 1.3rem;

  }
  .cartbtn{
    .fa-shopping-bag{
      color: $white;
      position: relative;
      left: 4rem;
    }
    button{
      height: 4rem;
      width: 15rem;
      color: white;
      background-color: $black;
      font-size: 1.2rem;
      border-radius: 2rem;
    }
   
  }
 }
 }

 .mycart{
  background-color: rgb(242 242 242);
  header{
    display: flex;
    gap: 12rem;
    align-items: center;
    padding-left: 1rem;
    .left{
      display: flex;
      gap: 2rem;
      align-items: center;
      img{
        width: 1.5rem;
        height: 2rem;
      }
      
    }
    .fa-search{
      font-size: 20px;
    }
  }
  main{
    height: 74vh;
    padding-left: 1rem;
    .bgcolor{
      padding-left: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width:$fullWidth;
      // height: 15vh;
      background-color: $white;
      gap: 1rem;

      .img{
        background-color: rgb(242 242 242);
         height: 9rem;
         width: 11rem;
         border-radius: 7px;
         img{
          margin-top: 1.8rem;
          margin-left: 1rem;
         }
      }
      .info{
        .row1{
          display: flex;
          gap: 3rem;
          align-items: center;
          h3{
            font-size: 27px;
          }
          .fa-trash-o{
            font-size: 27px;
          }
        }
        .row2{
          display: flex;
          gap: 6rem;
          align-items: center;
        }
        .row3{
          display: flex;
          gap: 3rem;
          p{
            font-size: 20px;
          }
          
        }
        .row4{
          display: flex;
          gap: 2rem;
          .dollar{
            font-size: 20px;
          }
          .num{
            display: flex;
            gap:1rem;
            background-color: $lightgray;
            border-radius: 2rem;
            width: 5rem;
            padding-left: 27px;
            
          }
        }
      }
    }
  }
  footer{
    .total{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4rem;
      padding-left: 1rem;
      background-color: $white;
      .dollar{
        font-weight: bold;
        font-size: 1.7rem;
    
      }
      .cartbtn{
        .arrow{
          right: 4rem;
          top: 10px;
          font-size: 3rem;
          position: relative;
          color: $white;
        }
        button{
          height: 4rem;
          width: 15rem;
          color: white;
          background-color: $black;
          font-size: 1.2rem;
          border-radius: 2rem;
        }
       
      }
    }
    .all-icons{
      width: 27rem;
      height: 2rem;
      background-color: $white;
      display: flex;
      justify-content: center;
      gap: 3rem;
      align-items: center;
      position: sticky;
      bottom: 0;
      .fa{
        font-size: 26px;
      }
      .wallet{
        font-size: 24px;
      }
     }
  }
 }


 .orders_container{
  header{
    display: flex;
    gap: 10rem;
    align-items: center;
    margin-left: 1rem;
   
    .left{
      display: flex;
      gap: 1rem;
      align-items: center;
      img{
        width: 1.5rem;
        height: 2rem;
      }
    }
    .right{
      .fa{
        font-size: 2rem;
      }
    }
    
  }

  footer{
    .all-icons{
      width: 23rem;
      height: 3rem;
      background-color: $white;
      display: flex;
      justify-content: center;
      gap: 3rem;
      align-items: center;
      margin-left: 2rem;
      position: sticky;
      bottom: 0;
      .fa{
        font-size: 26px;
      }
      .wallet{
        font-size: 24px;
      }
  }

 
 }
}


.container_wish{
  background-color: rgb(255, 255, 255);
  header{
    display: flex;
    gap: 8rem;
    align-items: center;
    padding-left: 1rem;
    .left{
      display: flex;
      gap: 2rem;
      align-items: center;
      img{
        width: 2rem;
        height: 3rem;
      }
      
    }
    .fa-search{
      font-size: 20px;
    }
  }

  .sec1{
    overflow: auto;
      width: 100%;
      .top{
        width: 42rem;
        margin-left: 2rem;
        .btnAll{
          background-color: $black;
          color: $white;
         }
        button{
          width: 5rem;
         height: 3rem;
         border-radius: 25px;
         background-color:$white;
         border: 2px solid $black;
         font-weight: bold;
         
        }

      }
     
    }
    .sec2{
      width: 90vw;
      height: 88vh;
      display: flex;
      gap: 2rem;
      padding-left: 1rem;
      flex-wrap: wrap;
      padding-top: 1rem;
      .one{
        width: 12rem;
        height: 16rem;
      
        
        .bggray{
          width: 11rem;
          height: 9rem;
          background-color: rgb(245 245 245);
          border-radius: 17px;
          img{
            padding-left: 1rem;
            padding-top: 2rem;
            width: 8rem;
            height: 5rem;
        
          }
        }
        .info{
          display: flex;
          gap: 1rem;
          align-items: center;
          .sold{
            background-color: $lightgray;
            border-radius: 7px;
            padding: 5px;
          }
        }
        p{
          font-size: 20px;
          margin: 5px;
        }
      }
      
    }
  }

.container_search{
  padding: 1.5rem;
  #gsearch{
    width: 22rem;
    height: 3rem;
    padding-left: 41px;
    border-radius: 16px;
  }
  .fa-search{
    color: $gray;
    position: relative;
    left: 2rem;
  }
  .section2{
    display: flex;
    gap: 13rem;
    padding: 1rem;
    p{
      font-size: 20px;
      font-weight: bold;
    }
  }
  .section3{
    .search{
      display: flex;
      align-items: center;
      gap: 14rem;
    }
    p{
      font-size: 25px;
    }
    .fa-close{
      position: absolute;
      right: 23px;
    }
  }
}

.container_home2{
  padding: 1.5rem;
  header{
    display: flex;
    gap: 1.20rem;
    align-items: center;
    img{
      width: 3.5rem;
      height: 3rem;
    }
    p{
      font-size: 30px;
      font-weight: bold;
    }
  }
  .section3{
    overflow: auto;
    width: 100%;

    .top{
      width: 42rem;
    
      .btnAll{
        background-color: $black;
        color: $white;
       }
      button{
       width: 5rem;
       height: 3rem;
       border-radius: 25px;
       background-color:$white;
       border: 2px solid $black;
       font-weight: bold;
       
      }

    }
   
  }
  .section4{
    width: 90vw;
    height: 88vh;
    display: flex;
    gap: 2rem;
   padding-top: 1rem;
    flex-wrap: wrap;
    .one{
      width: 10rem;
      height: 2rem;
}
      .bggray{
        width: 11rem;
        height: 9rem;
        background-color: rgb(245 245 245);
        border-radius: 17px;
        img{
          padding-left: 1rem;
          padding-top: 2rem;
          width: 8rem;
          height: 5rem;
      
        }
      }
      p{
        font-size: 20px;
      }
    }
}

.container_notfound{
  padding: 1.5rem;
  #gsearch{
    width: 22rem;
    height: 3rem;
    padding-left: 41px;
    border-radius: 16px;
  }
  .fa-search{
    color: $gray;
    position: relative;
    left: 2rem;
  }
  .section2{
    img{
      margin-top: 5rem;
      width: 91vw;
     height: 60vh;
    }
  }
}